@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-rgb: 255, 255, 255;
  --background-rgb: 255, 255, 255;
  --jacaranda: 136, 143, 199;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--text-color-rgb));
  background: rgb(var(--background-rgb));
}

::selection {
  background-color: rgb(var(--jacaranda));
  color: rgb(var(--text-color-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#book-page p {
  margin-block: 24px;
}

#book-page i {
  font-weight: 500;
}
